[submodule "external/supercollider"]
	path = external/supercollider
	url = https://github.com/supercollider/supercollider.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11
	branch = stable
